div {
    width: 200px;
    height: 300px;
    border: 5px solid #9932CC;
}

img {
    width: 100%;
    height: 100%;
}

#div2 {
    width: 300px;
    height: 300px;
    border: 5px solid #ac1479;
}

#contain {
    object-fit: contain;
}

#div3 {
    width: 500px;
    height: 500px;
    border: 5px solid #3cdfc3;
}

#cover {
    object-fit: cover;
}

#div4 {
    width: 200px;
    height: 200px;
    border: 5px solid #1900ff;
}



#none {
    object-fit: none;
}


#div5 {
    width: 400px;
    height: 400px;
    border: 5px solid #20ff75;
}

#scale-down {
    object-fit: scale-down;
}
