div {
    width: 200px;
    height: 300px;
    border: 5px solid #9932CC;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*object-position: center down*/
    /*object-position: center top*/
    /*object-position: right start*/
    /*object-position: left top*/
    /*object-position: right top*/
    /*object-position: right end*/
    /*object-position: left end*/
    object-position: start end;
}